html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#background {
  background: #000;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
}

#loginContainer * {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: normal;
  line-height: 1em;
  /* border box means when you specify a width for something it should
   take into account the padding and the margins */
  box-sizing: border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}
